/* colors */
:root{
    --accent-color: rgb(90, 7, 105);
    --sec-accent-color: #D8CBFF;
    --light-text: #c89afd;
    --bg: white;
}

.dark-theme{
    --accent-color: #D8CBFF;
    --sec-accent-color: rgb(90, 7, 105);
    --light-text: #c89afd;
    --bg: black;
}

/* navbar */
.navbar-section{
    background-color: var(--sec-accent-color);
    .navbar-container{
        display: flex;
        justify-content: space-between;
        margin-block-start: 0;
        padding-block: 0.8rem;
    }
    .logo{
        display: flex;
        align-items: center;
        cursor: pointer;
        font-size: 2rem;
        gap: 1rem;
    }
    .logo img{
        height: 2rem;
        width: 2rem;
    }
    #theme-switcher{
        margin-inline-start: 1rem;
        color: white;
        filter: drop-shadow(0.2rem 0.2rem 4px var(--accent-color));
    }
    .nav-links{
        display: flex;
        align-items: center;
        list-style-type: none;
        gap: 1rem;
        font-size: 1.4rem;        
    }
    .nav-links a{
        color: var(--accent-color);
        padding-inline: 0.7rem;
        padding-block: 0.2rem;
        border-radius: 2rem;
    }
    .nav-links a:hover{
        background-color: var(--accent-color);
        color: var(--sec-accent-color);   
    }
    .list-item{
        text-decoration-line: none;
    }
    /* for mobile navbar */
    .hamburg-icon,.close-icon{
        display: none;
    }
}

/* home */
@keyframes gradient-border{
    0%{
        background-color: var(--sec-accent-color);
    }
    25%{
        background-color: var(--light-text);
    }
    50%{
        background-color: var(--accent-color);
    }
    75%{
        background-color: var(--light-text);
    }
    100%{
        background-color: var(--sec-accent-color);
    }
}
.home-section{
    /* for home img */    
    .box{
        width: 29vw;
        aspect-ratio: 1/1;
        border-radius: 20px;
        animation-name: gradient-border;
        animation-duration: 4s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        cursor: pointer;
    }
    .box:hover{
        animation-play-state: paused;
    }
    .inner-box{
        position: relative;
        top: 1.5vw;
        left: 1.5vw;   
    }
    .home-img img{  
        border-radius: 20px;
        width: 26vw;
        aspect-ratio: 1/1;
        border: 1.3rem solid white;  
    }

    /* for home content */
    .home-container{
        margin-block-start: 4rem;
        margin-block-end: 0;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .home-text{
        height: 35vh;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    .name{
        color: var(--light-text);
    }
    .home-btn{
        width:fit-content;
    }
    .icons{
        display: flex;
        font-size: 1.7rem;
        gap: 1.5rem;
    }
}

/* about */
.about-section{
    .about-content{
        display: grid;
        grid-template-columns: 40vw 35vw;
        column-gap: 5vw;
        align-items: center;
        justify-content: space-around;
    }
    .about-text p{
        margin-block-end: 1rem;
    }
    .about-image{
        width: 80%;
        border-radius: 50px;
    }
}

/* skills */
.skills-section{
    .skills-content{
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        justify-content: center;
        text-align: center;
    }
    .skill{
        background-color: var(--sec-accent-color);
        border-radius: 1.5rem;
        padding: 1rem;
        width: 10rem;
        text-align: center;      
        cursor: pointer; 
        transition-duration: 0.7s;
    } 
    .skill:hover{
        background-color: var(--accent-color);
        color: var(--sec-accent-color);
    }  
}

/* projects */
.projects-section{
    .project-content{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        column-gap: 7rem;
        row-gap: 3rem;
        align-items: center;
    }
    .project-content img{
        width: 30vw;
        border-radius: 20px;
        border: 1px solid black;
        transition-duration: 0.4s;
    }
    .project-content img:hover{
        filter: brightness(50%);        
    }
    .project{
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        align-items: center;
        justify-content: center;
        border: 2px solid var(--sec-accent-color);
        border-radius: 20px;
        padding-block: 2rem;
        padding-inline: 1rem;
    }  
    .links a{
        margin-inline: 0.5rem;
        font-weight: 600;
    }  
}

/* contact */
.contact-section{
    padding-block-end: 3rem;

    .contact-links{
        margin-inline: auto;
        width:max-content;
        padding-inline: 2rem;
        padding-block: 1rem;
        border-radius: 50px;
        background-color: var(--sec-accent-color);
        font-weight: 700;
    }
    .contact-links span{
        margin-inline: 0.5rem;
    }
}

/* footer */
.footer-section{
    background-color: var(--sec-accent-color);

    .footer-content{
        text-align: center;
        padding-block: 1rem;
        font-weight: 600;
    }
    .p1{
        margin-block-end: 0.3rem;
    }
}